<div class="page-container">
  <ng-container *ngIf="goal">
    <div class="goal-detail-card">
      <app-progress-bar [current]="goal.numberOfDonations" [goal]="goal.target"></app-progress-bar>
      <div class="content-container">
        <p class="large-text">{{goal.description}}</p>
        <div>
          <div class="contribution-cards-container">
            <app-contribution [contributionType]="contributionTypes.DONATION" [goal]="goal"></app-contribution>
            <app-contribution [contributionType]="contributionTypes.VOLUNTEERING" [goal]="goal"></app-contribution>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!goal">
    <mat-spinner></mat-spinner>
  </ng-container>
</div>

