form {
  width: 300px;
  margin: 10px 0;

  mat-form-field {
    width: 100%;
  }

  .upload-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    app-button, p {
      margin: 0 7.5px;
    }
  }

  @media screen and (max-width: 550px) {
    width: 230px;
  }
}
