.page-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  mat-card {
    max-width: 80%;
    mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 85%;
      text-align: center;
      .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        app-button {
          margin: 0 7.5px;
          ::ng-deep button {
            width: 200px;
            @media screen and (max-width: 550px) {
              width: 150px;
            }
            @media screen and (max-width: 400px) {
              width: 100px;
            }
          }
        }
        app-button:first-child {
          ::ng-deep button {
            padding: 10px;
          }
        }
      }
    }
  }
}

.medium-text {
  max-width: 300px;
}

.submit-button {
  margin-top: 15px;
}
