<div class="page-container">
  <mat-card>
    <mat-card-title>Want to start a charity campaign?</mat-card-title>
    <mat-card-subtitle>Sign up below and it could become a goal on our website!</mat-card-subtitle>
    <mat-card-content>
      <app-personal-information-form #personalInfoForm
        [hidden]="formType !== selectedFormTypes.PERSONAL_INFO"></app-personal-information-form>
      <app-goal-form #goalForm
        [hidden]="formType !== selectedFormTypes.GOAL"></app-goal-form>
      <div class="buttons-container">
        <app-button [selected]="formType === selectedFormTypes.PERSONAL_INFO"
                    [hoverEnabled]="true" label="Personal information"
                    (action)="switchForm(selectedFormTypes.PERSONAL_INFO)"></app-button>
        <app-button [selected]="formType === selectedFormTypes.GOAL"
                    [hoverEnabled]="true" label="Submit a goal"
                    (action)="switchForm(selectedFormTypes.GOAL)"></app-button>
      </div>
      <app-button [hoverEnabled]="true" label="Submit"
                  (action)="submit()"
                  class="submit-button"
                  [disabled]="!personalInfoForm.form.valid || !goalForm.form.valid">
      </app-button>
    </mat-card-content>
  </mat-card>
</div>
