<div class="contribution-card">
  <p class="medium-text">{{goal.pricePerUnit + ' / ' + goal.goalItemName}}</p>
  <ng-container *ngIf="contributionType === contributionTypes.DONATION">
    <div class="column">
      <div class="row">
        <app-button (action)="setValue(5)"
                    label="5"
                    [selected]="value === 5"></app-button>
        <app-button (action)="setValue(10)"
                    label="10"
                    [selected]="value === 10"></app-button>
      </div>
      <div class="row">
        <app-button (action)="setValue(25)"
                    label="25"
                    [selected]="value === 25"></app-button>
        <app-button (action)="setValue(50)"
                    label="50"
                    [selected]="value === 50"></app-button>
      </div>
      <mat-form-field>
        <mat-label>Or choose a custom amount...</mat-label>
        <input [(ngModel)]="value" matInput type="number">
      </mat-form-field>
    </div>
  </ng-container>
  <ng-container *ngIf="contributionType === contributionTypes.VOLUNTEERING">
    <p class="large-text">I want to volunteer!</p>
  </ng-container>
  <app-button (action)="handleNext(goal)" [hoverEnabled]="true" [label]="'Next'" class="next-button"></app-button>
</div>
