<div class="menu-container">
  <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="router.navigate(['goal'])" mat-menu-item>
      <mat-icon>domain_verification</mat-icon>
      <span>Goals</span>
    </button>
    <button (click)="router.navigate(['propose-goal'])" mat-menu-item>
      <mat-icon>lightbulb</mat-icon>
      <span>Propose a Goal</span>
    </button>
  </mat-menu>
</div>
