@use 'src/assets/styles/variables';

.normal {
  cursor: pointer;
  min-width: 115px;
  background-color: #E7E7E7;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(1, 49, 64, 0.16);
  padding: 10px 40px;
  span {
    color: black;
  }
  @media screen and (max-width: 550px) {
    padding: 10px 20px;
  }
}

.selected {
  background-color: #163C59;
  border: none;
  span {
    color: white;
  }
}

.disabled {
  background-color: #F6F6F6;
  border: none;
  span {
    color: lightgray;
  }
}
