<mat-card class="goal-card">
  <mat-card-header>
    <mat-card-title>{{goal.title}}</mat-card-title>
  </mat-card-header>
  <img [src]="goal.image.path" alt="card-image" mat-card-image>
  <mat-card-content>
    <p class="medium-text">{{goal.shortDescription}}</p>
    <app-button (action)="goToEvents()" label="See top donors"></app-button>
  </mat-card-content>
  <mat-card-footer>
    <app-progress-bar
      [current]="goal.numberOfDonations" [goal]="goal.target"
    ></app-progress-bar>
  </mat-card-footer>
</mat-card>
